# MongoDB Configuration
MONGO_URI= mongodb+srv://davismarton9_db_user:Cebelian12@cluster0.taxdczz.mongodb.net/?appName=Cluster0 appName=Cluster
MONGO_DB=test
MONGO_COLLECTION=github_tokens

# Project ID for GitHub token lookup (MongoDB ObjectId)
PROJECT_ID=6954ed250d9fa1238cb13e3c

# Cloudflare Configuration
CLOUDFLARE_API_TOKEN= 7q6sMzzZJgxIzRhkNpp0qf4kIIsUhFRdp7AF8K36
CLOUDFLARE_ACCOUNT_ID= 448eccde1bce6f9c1f027cdd37ed514e
CLOUDFLARE_PROJECT_NAME=none

# Flask Configuration
PORT=5000
DEBUG=False

